// Theme's Styles
@import("/Users/yofoon/Documents/mayf/fe-face/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Users/yofoon/Documents/mayf/fe-face/docs/.vuepress/styles/index.styl")